<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.merlin.demo"
  android:versionCode="1"
  android:versionName="0.3-SNAPSHOT">

  <application
    android:allowBackup="true"
    android:label="Merlin demo">
    <activity
      android:name=".presentation.HomeActivity"
      android:label="Merlin Demo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".presentation.DemoActivity"
      android:label="Demo Activity" />
    <activity
      android:name=".presentation.RxDemoActivity"
      android:label="RxDemo Activity" />
  </application>

</manifest>
